<!-- c o u n t -->
<div
  class="absolute hidden md:flex -translate-x-56.25 -translate-y-15 items-center gap-2 text-gray-300 font-mono text-[13px] select-none bg-black/20 border border-white/5 p-2 rounded-2xl backdrop-blur-md"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="20"
    height="20"
    viewBox="0 0 27 27"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    class="text-pink-500/50 translate-y-px"
  >
    <path d="M2 12s3-7 10-7 10 7 10 7-3 7-10 7-10-7-10-7Z"></path>
    <circle cx="12" cy="12" r="3"></circle>
  </svg>

  <span id="visitas" class="tracking-widest">0</span>
</div>
