---
import Icons from "./icons/Icons.astro";
---

<div class="music-container flex items-center gap-4 md:gap-2 w-full max-w-2xl select-none mx-auto px-6 md:px-10">
  <img
    src="/assets/album-icon2.jpg"
    alt="Cover"
    class="w-12 h-12 md:w-16 md:h-16 rounded-lg object-cover border border-white/10"
    draggable="false"
  />

  <div class="flex-1 flex flex-col justify-center">
    <div class="flex mb-1 items-center justify-between w-full">
      <span class="text-white font-mono text-sm tracking-tight">Dream Space - DVRST</span>
      <div class="flex gap-1">
        <div
          id="pause"
          class="items-center justify-center flex rounded-lg size-6 bg-black/20 backdrop-blur-sm border border-white/5 transition-all duration-300 ease-out hover:scale-110 hover:bg-black/40 hover:brightness-110 hover:border-white/20"
        >
          <div id="icon-pause"><Icons name="pause" size={16} /></div>
          <div id="icon-play" class="hidden"><Icons name="play" size={16} /></div>
        </div>
        <div
          id="volume"
          class="items-center justify-center flex rounded-lg size-6 bg-black/20 backdrop-blur-sm border border-white/5 transition-all duration-300 ease-out hover:scale-110 hover:bg-black/40 hover:brightness-110 hover:border-white/20"
        >
          <div id="icon-volumeOn"><Icons name="volume-on" size={16} /></div>
          <div id="icon-volumeOff" class="hidden"><Icons name="volume-off" size={16} /></div>
        </div>
      </div>
    </div>
    <div class="relative w-full h-1 md:h-1.5 bg-white/10 rounded-full overflow-hidden">
      <div
        id="progress-bar"
        class="absolute top-0 left-0 h-full bg-gray-400 w-0 transition-[width] duration-500 ease-linear"
      >
      </div>
    </div>

    <div class="flex justify-between mt-1">
      <span id="current-time" class="text-[10px] text-gray-300 font-mono">0:00</span>
      <span id="duration-time" class="text-[10px] text-gray-300 font-mono">0:00</span>
    </div>
  </div>
</div>
