<div
  class="container-clan flex flex-col items-center w-47.5 h-57.5 border border-dotted border-white/20 bg-black/50 shadow-[0_0_20px_rgba(0,0,0,0.32)] z-100 rounded-lg translate-y-12.5 p-1.5 select-none"
  style="background-image: url('/src/assets/dot.png');"
  draggable="false"
>
  <nav class="w-full">
    <ul class="flex justify-between m-0 p-0 list-none">
      <li class="mute-netflix">
        <a
          href="#"
          class="text-white text-[14px] px-2.5 py-1 rounded hover:text-pink-500 transition-colors"
          draggable="false">Mute</a
        >
      </li>
      <li class="next-netflix">
        <a
          href="#"
          class="text-white text-[14px] px-2.5 py-1 rounded hover:text-pink-500 transition-colors"
          draggable="false">Next</a
        >
      </li>
    </ul>
  </nav>

  <div class="mb-1.5">
    <ul class="flex m-0 p-0 list-none">
      <li>
        <a
          href="https://steamcommunity.com/groups/_65"
          target="_blank"
          class="text-white text-[14px] hover:text-pink-500 transition-colors"
          draggable="false">nevermore</a
        >
      </li>
    </ul>
  </div>

  <hr class="w-35 border-white/20 mb-5" />

  <div
    class="sub-container-clan scrollbar-gutter-stable flex flex-col gap-2.5 w-25 h-45 overflow-y-hidden hover:overflow-y-auto hover:m-0 hover:p-0 pr-0.5"
    draggable="false"
  >
    <ul class="flex flex-col items-center m-0 p-0 list-none">
      <li>
        <a
          href="https://steamcommunity.com/profiles/76561198352713811"
          target="_blank"
          class="text-white text-base hover:text-pink-500 transition-colors"
          draggable="false">dark</a
        >
      </li>
      <li>
        <a
          href="https://steamcommunity.com/profiles/76561199482069751"
          target="_blank"
          class="text-white text-base hover:text-pink-500 transition-colors"
          draggable="false">viel</a
        >
      </li>
      <li>
        <a
          href="https://steamcommunity.com/profiles/76561199172867018"
          target="_blank"
          class="text-white text-base hover:text-pink-500 transition-colors"
          draggable="false">dyna</a
        >
      </li>
      <li>
        <a
          href="https://steamcommunity.com/profiles/76561199237306393"
          target="_blank"
          class="text-white text-base hover:text-pink-500 transition-colors"
          draggable="false">limon</a
        >
      </li>
      <li>
        <a
          href="https://steamcommunity.com/profiles/76561198076123331"
          target="_blank"
          class="text-white text-base hover:text-pink-500 transition-colors"
          draggable="false">lucio</a
        >
      </li>
      <li>
        <a
          href="https://steamcommunity.com/profiles/76561198976059463"
          target="_blank"
          class="text-white text-base hover:text-pink-500 transition-colors"
          draggable="false">Miss</a
        >
      </li>
      <li>
        <a
          href="https://steamcommunity.com/profiles/76561198819119968"
          target="_blank"
          class="text-white text-base hover:text-pink-500 transition-colors"
          draggable="false">el camino</a
        >
      </li>
      <li>
        <a
          href="https://steamcommunity.com/profiles/76561198029884075"
          target="_blank"
          class="text-white text-base hover:text-pink-500 transition-colors"
          draggable="false">Nesquik</a
        >
      </li>
      <li>
        <a
          href="https://steamcommunity.com/profiles/7656119404638864"
          target="_blank"
          class="text-white text-base hover:text-pink-500 transition-colors"
          draggable="false">zero</a
        >
      </li>
    </ul>
  </div>
</div>
