---
const { title } = Astro.props;
import "../styles/global.css"; // Donde pusiste el @import "tailwindcss"
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap" rel="stylesheet" />

    <!-- I C O N -->
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <!-- Open Graph Metadata -->
    <meta property="og:title" content="grece" />
    <meta property="og:image" content="https://grece.xyz/assets/ssa.webp" />
    <!-- URL de la pГЎgina -->
    <meta property="og:type" content="website" />
  </head>
  <!--
    в Җв Җв Җв ҖвЈ в һв үвўүв ©вўҚвЎҷв ӣв ӢвЈүв үв ҚвўүвЈүвЈүвЈүв ©вўүв үв ӣв ІвЈ„в Җв Җв Җв Җ
    в Җв Җв ҖвЎҙв Ғв ӮвЎ в ‘в Җв Җв Ӯg r e c eв Җв  в Җв Җв җв ҒвўҠв Җв „в ҲвўҰв Җв Җв Җ
    в ҖвЈ вЎҫв Ғв Җв Җв „вЈҙвЎӘв ҪвЈҝвЎ“вўҰв Җв ҖвЎҖв ҖвЈ вў–вЈ»вЈҝвЈ’вЈҰв ҖвЎҖвўҖвЈҲвўҰвЎҖв Җ
    вЈ°в ‘вў°в Ӣвў©вЎҷв ’в Ұв –в Ӣв Җв Ҳв Ғв Җв Җв Җв Җв Ҳв үв Җв ҳв Ұв Өв ҙв ’вЎҹв ІвЎҢв ӣвЈҶ
    вў№вЎ°вЎёв Ҳвў»вЈҲв “вЎҰвўӨвЈҖвЎҖвўҫв ©в Өв Җв Җв Өв ҢвЎів җвЈ’вЈ вЈӨв –вўӢвЎҹв ’вЎҸвЎ„вЎҹ
    в Җв ҷвўҶв Җв Җв »вЎҷвЎҝвўҰвЈ„вЈ№в ҷв ’вўІв Ұв ҙвЎ–в ’в ҡвЈҸвЈҒвЈӨвЈҫвўҡвЎқв Ғв ҖвЈЁв һв Җ
    в Җв Җв Ҳвў§в Җв Җв ҷвў§вЎҖв ҲвЎҹв ӣв ·вЎҫвЈ¶вЈҫвЈ·в ҫв ӣвў»в үвўҖвЎҪв Ӣв Җв ҖвЈ°в ғв Җв Җ
    в Җв Җв Җв Җв ‘вўӨвЎ вўӮв ҢвЎӣв Ұв ӨвЈ„вЈҮвЈҖвЈҖвЈёвЈҖвЎӨв јв ҡвЎүвў„в  вЈ в һв Ғв Җв Җв Җ
    в Җв Җв Җв Җв Җв Җв үв “в ®вЈ”вЎҒв Ұв ҖвЈӨв Өв ӨвЈӨв „в °в ҢвЈӮвЎ¬в –в Ӣв Җв Җв Җв Җв Җв Җ
    в Җв Җв Җв Җв Җв Җв Җв Җв Җв Җв үв ’в ӨвўӨвЈҖвЈҖвЎӨв ҙв ’в үв Җ
    -->
  <body class="bg-[#0F0F0F] text-white">
    <slot />
    <script>
      import "../js/video.js";
      import "../js/peligro.js";
    </script>;
  </body>
</html>
